@import "tailwindcss";
html {
  overflow-y: scroll;
  /* For modern browsers, keep scrollbar gutter stable when available */
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}
h1,h2,h3,h4{
  font-family: "Playfair", serif;
}
a,p,li{
  font-family: "Poppins",sans-serif;
}
*{
  font-optical-sizing: auto;
}
.primary-link,.secondary-link{
  position: relative;
  transition: all 0.3s ease-in-out;
}
.primary-link::after{
  content: "";
  position: absolute;
  border-radius: 50px;
  bottom: -5px;
  left: 0;
  width: 90%;
  height: 5px;
  background: oklch(70.5% 0.213 47.604) ;
  transition: all 0.3s ease-in-out;
}
.secondary-link::after{
  content: "";
  position: absolute;
  border-radius: 50px;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 5px;
  background: oklch(70.5% 0.213 47.604) ;
  transition: all 0.3s ease-in-out;
}
.secondary-link:hover::after{
  width: 90%;
}

.hero{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.hero::after{
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;

}
.hero_content{
  position: relative;
  z-index: 2;
}

.box_shadow{
  box-shadow:  0 0 6px 0px;
}
@layer utilities{
  .btn-primary{
    transition: all 0.5s ease-in-out;
  }
  .btn-primary:hover{
    background:oklch(70.09% 0.20117 44.755) ;
  }
}

/* Dans votre fichier CSS global (tailwind.config.js ou App.css) */
@keyframes shine {
    0% {
        transform: translateX(-100%) translateY(-100%) rotate(30deg);
    }
    100% {
        transform: translateX(100%) translateY(100%) rotate(30deg);
    }
}

.animate-shine {
    animation: shine 2s infinite;
}